In [147]:
import pandas as pd
import numpy as np
import collections
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [47]:
df = pd.read_csv ('desafio.csv', sep=';')

In [48]:
df.head()

,data,p1,p2,televisao,instagram,facebook,whats,radio,p3,dependente,p4,p5,p6,p7,p8,p9,p10,p11,p12,resultado
0,15,3,1,1,1,1,0,0,2,2,2,1,1,2,0,2,0,1,3,2
1,15,3,1,0,0,1,0,0,2,2,3,1,2,2,0,2,0,1,0,2
2,15,3,2,0,0,0,0,1,2,2,2,1,3,1,1,6,0,0,0,2
3,15,1,1,1,0,0,0,0,1,1,5,2,5,1,1,3,0,0,1,1
4,15,1,2,0,0,0,0,0,1,1,5,2,5,2,0,4,0,0,1,1

In [144]:
df.describe()

,data,p1,p2,televisao,instagram,facebook,whats,radio,p3,dependente,p4,p5,p6,p7,p8,p9,p10,p11,p12,resultado
count,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000,2923.000000
mean,20.981184,2.518645,1.212795,0.068423,0.067397,0.068423,0.010263,0.000684,1.202874,1.583647,2.827917,1.454670,2.920972,1.417379,0.616148,2.175163,0.298324,0.468354,2.040027,1.583647
std,3.876603,0.696558,0.470062,0.252513,0.250750,0.252513,0.247984,0.026153,0.801414,0.493038,1.181427,0.667712,1.888104,0.677899,0.988870,0.951658,0.551230,0.590775,1.041625,0.493038
min,15.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,18.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
50%,20.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,3.000000,1.000000,2.000000,2.000000,0.000000,2.000000,0.000000,0.000000,3.000000,2.000000
75%,24.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,1.000000,3.000000,1.000000,1.000000,3.000000,2.000000
max,27.000000,3.000000,4.000000,1.000000,1.000000,1.000000,6.000000,1.000000,2.000000,2.000000,7.000000,4.000000,8.000000,2.000000,3.000000,6.000000,3.000000,3.000000,3.000000,2.000000

In [139]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('resultado',axis=1),df['resultado'],test_size=0.15)

In [140]:
knn = KNeighborsClassifier(n_neighbors=5)

In [141]:
# Os dados de treino para o algoritmo
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [142]:
resultado = knn.predict(X_test)

In [143]:
print(metrics.classification_report(y_test,resultado)) #resultado dos testes

             precision    recall  f1-score   support

          1       0.95      0.97      0.96       179
          2       0.98      0.97      0.97       260

avg / total       0.97      0.97      0.97       439

In [145]:
260/439

0.592255125284738